@import "../../common-styles/main.scss";

.fake-invitation{

    @include setCommonBgImageAndPosition;
    &__image{
        position: absolute;
        top: 40%;
        left: 50%;
        height: 70%;
        transform: translate(-50%, -50%);
        &--1{
            height: 60%;
        }
        &--tablet{
            position: absolute;
            top: 40%;
            left: 49%;
            height: 40%;
            transform: translate(-50%, -50%);
        }
    }
}

.riddle{

    @include setCommonBgImageAndPosition;

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__container-scan{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 55%;
        margin-bottom: 2rem;
        &--tablet{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 89%;
            margin-top: 25%;
            margin-bottom: 2rem;
        }
    }

    &__text-container{
        width: 40%;
        height: 80%;
        padding: 3rem;
        margin-right: 4rem;
        margin-top: 4rem;
        border-radius: 1rem;
        background-color: white;
    }

    &__scan-text{
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.2;
        color: #000000;
    }

    &__form{
        &-input{
            margin-right: 2rem;
        }
    }

    &__image{
        margin-top: 4rem;
        margin-bottom: 2rem;
        width: 50%;
    }

}

.form{
    &__btn{
        margin-left: 2rem;
    }
} 