@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin setCommonBgImageAndPosition {
    height: 100vh;
    position: relative;
    background-color: $color-secondary;
}

@mixin positionElementAbsoluteCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin setButton($width, $height, $visibility) {
    width: $width;
    height: $height;
    visibility: $visibility;
}

@mixin alignAsSingleRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}