@import "../../common-styles/main.scss";

.introduction{
    @include setCommonBgImageAndPosition;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__video{

        margin-top: 10rem;

        &-text{
            margin-top: 3rem;
            margin-bottom: 0;
        }

    }

    &__iframe{
    }

}