@import "../../common-styles/main.scss";

.qrleads{
    @include setCommonBgImageAndPosition;

    &__container{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__image{
        margin-top: 5rem;
        margin-left: 5rem;
        width: 70%;
        &--1{
            margin-top: 2rem;
            width: 60%;
        }
        &--tablet{
            margin-top: 30%;
            width: 95%;
        }
    }

    &__search-event-area{
        position: absolute;
        width: 4%;
        height: 9%;
        transform: translate(-50%, -50%);
        top: 66%;
        left: 70%;
        z-index: 222;
        background-color: transparent;
        &--tablet{
            position: absolute;
            width: 43%;
            height: 10%;
            transform: translate(-50%, -50%);
            top: 55%;
            left: 28%;
            z-index: 222;
            background-color: transparent;
        }
        &:hover{
            cursor:pointer
        }
    }

    &__click-event-area{
        position: absolute;
        width: 27%;
        height: 14%;
        transform: translate(-50%, -50%);
        top: 33%;
        left: 36%;
        z-index: 222;
        background-color: transparent;
        &--tablet{
            position: absolute;
            width: 42%;
            height: 10%;
            transform: translate(-50%, -50%);
            top: 53%;
            left: 29%;
            z-index: 222;
            background-color: transparent;
        }
        &:hover{
            cursor:pointer
        }
    }
}

.qrcode{

    @include setCommonBgImageAndPosition;

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__container-scan{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 55%;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    &__scan-text{
        margin-left: 2rem;
        font-weight: 700;
        font-size: 3rem;
        color: $color-white;
    }

    &__form{
        &-input{
            margin-right: 2rem;
        }
    }

    &__image{
        margin-top: 2rem;
        margin-bottom: 2rem;
        height: 40rem;
        &--tablet{
            margin-top: 10%;
            margin-bottom: 2rem;
            height: 40rem;
        }
    }

}

.form{
    &__btn{
        margin-left: 2rem;
    }
} 