@import "../../common-styles/main.scss";

.cafePage{
    @include setCommonBgImageAndPosition;

    &__image{
        height: 60%;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        &--formatted{
            top: 35%;
        }
    }

    &__highlight-shape{
        position: absolute;
        border-radius: 50%;
        background-color: #F8F0F0;
        opacity: .4;
        z-index: 222;
        transform: translate(-50%,-50%);
        &--1{
            width: 9rem;
            height: 9rem;
            left: 30%;
            top: 42%;
        }
        &--2{
            width: 6rem;
            height: 6rem;
            left: 49%;
            top: 35%;
        }
    }
}

.cafePage-wifi{
    @include setCommonBgImageAndPosition;

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__form{
        &-input{
            margin-right: 2rem;
        }
    }

    &__image{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

}

.cafePagePostCoffee{
    @include setCommonBgImageAndPosition;

    &__conversation{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem;
    }
}

.conversation-text{
    &--1{
        position: absolute;
        top: 12.2%;
        left: 47%;
        font-size: 1.6rem;
        font-weight: 500;
    }
    &--2{
        text-align: justify;
        position: absolute;
        top: 37%;
        transform: translate(-50%, -50%);
        left: 46%;
        font-size: 1.2rem;
        line-height: 1.2;
        color: $color-white;
        font-weight: 500;
    }
    &--3{
        text-align: justify;
        position: absolute;
        top: 61%;
        transform: translate(-50%, -50%);
        left: 46%;
        font-size: 1.4rem;
        line-height: 1.2;
        color: $color-white;
        font-weight: 500;
    }
}

.conversation-btn{
    position: absolute;
    top: 85%;
    width: 15rem;
    left: 50%;
    transform: translate(-50%, -50%);
}