body{
}

.fw-600{
  font-weight: 600;
}

.fw-300{
  font-weight: 300;
}

.heading-primary{
  color: $color-white;
  margin-bottom: 6rem;
  font-size: 3.4rem;
  
  &--main{
    display: block;
    font-weight: 800;
    text-align: center;
    color: $color-primary;
    font-size: 6.2rem;
    text-transform: uppercase;
  }

  &--sub{
    display: block;
    font-weight: 300;
    font-size: 3.4rem;
  }

  &--highlight{
    color: $color-secondary-light;
  }

}

.heading-secondary{
  color: $color-white;
  margin-bottom: 6rem;
  font-size: 3.4rem;
  font-weight: 600;
}

.heading-tertiary{
  font-size: 1.2rem;
}
  