.ut-align-center { text-align : center};
.ut-text-color-white { color : white};
.ut-margin-bottom-medium { margin-bottom: 2rem;}
.ut-font-size-medium {font-size: 1.9rem;}
.ut-color-white {color: $color-white;}
.ut-margin-top-10 { margin-top: 5rem;}
.ut-align-center--1{ text-align: center; color: $color-primary;}
.ut-fs-50 { font-size: 5rem; font-weight: 700;}
.ut-bgcolor-white { background-color: $color-white;}