@import "../../common-styles/main.scss";

.office-outside{

    @include setCommonBgImageAndPosition;

    &__image{
        position: absolute;
        top: 40%;
        left: 50%;
        height: 70%;
        background-size: cover;
        transform: translate(-50%, -50%);
        &--tablet{
            position: absolute;
            top: 40%;
            left: 50%;
            height: 48%;
            background-size: cover;
            transform: translate(-50%, -50%);
        }
    }

}

.server-room{

    @include setCommonBgImageAndPosition;

    display: flex;
    align-items: center;
    flex-direction: column;

    &__image{
        margin: 2rem 0rem;
        height: 65%;
        width: 60%;
        &--1{
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 38%;
        }
        &--tablet{
            margin: 2rem 0rem;
            height: 65%;
            width: 88%;
        }
    }

}

.form{
    &__btn{
        margin-left: 2rem;
    }
} 

.offices-location{
    @include setCommonBgImageAndPosition;

    display: flex;
    align-items: center;
    flex-direction: column;

    &__image{
        margin-top: 3rem;
        height: 70%;
        &--tablet{
            margin-top: 30%;
            height: 40%;
            width: 98%;
        }
    }
}

.img-container{
    &--1{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }
}

.download-link{
    &--1{
        text-decoration: none;
        font-style: inherit;
        display: block;
        content: 'Click here to download the menu card';
        padding: 2rem;
        border-radius: 1rem;
        border: 4px solid #ED9340;
        font-size: 2rem;
        font-weight: 600;
        width: 38rem;
        text-align: center;
        height: 9rem;
        top: 55%;
        background-color: white;
        color: inherit;
        position: absolute;
    }
}

.alignAsSingleColumn{
    @include alignAsSingleColumn;
}