.btn{
    &,
    &:link,
    &:visited{
        text-decoration: none;
        padding: 1.4rem 3.4rem;
        display: inline-block;
        border-radius: 1rem;
        transition: all .2s;
        position: relative;
        font-size: 2.8rem;

        // Change for the <button> element
        border: none;
        cursor: pointer;
    }

    &--default{
        background-color: $color-primary-light;
        color: $color-black;
        font-weight: 600;

        &::after{
            background-color: $color-primary-light;
        }
    }
}